.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}

.floating-button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.modal-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: start;
}

@media (max-width: 768px) {
  .floating-button {
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    font-size: 20px;
  }
}
