@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.custom-text {
  font-family: "Montserrat", serif !important;
  font-optical-sizing: auto !important;
  font-weight: 900x !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
}

h4 {
  margin: 10vh auto;
  text-align: center;
  position: relative;
}

h4::before {
  content: "";
  height: 2px;
  width: 50vw;
  background-color: #bbbbbb;
  position: absolute;
  top: 60%;
  right: 0;
  z-index: -3;
}

h4::after {
  content: "";
  height: 2px;
  width: 50vw;
  background-color: #bbbbbb;
  position: absolute;
  top: 60%;
  left: 0;
  z-index: -2;
}

.spann {
  background: white;
  padding: 0 30px;
}
