@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.home-title-page {
  text-align: start;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 100px;
  color: #355e3b;
}

.welcome-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media only screen and (max-width: 600px) {
  .home-title-page {
    text-align: center;
    font-size: 55px;
  }

  .welcome-text {
    text-align: center;
    font-size: 15px;
  }
}
